$firstColor: #2d3436;
// $firstColor: #34495e;
// $firstColor: #6F1E51;
// $firstColor: #596275;
// $firstColor: #8e44ad;
// $secondColor: #ff4757;
// $secondColor: #a29bfe;
$secondColor: #6c5ce7;
// $secondColor: #8e44ad;
// $secondColor: #6F1E51;
// $secondColor: #ffeaa7;
$fontWhite: #ffffff;
$fontBlack: #3d3d3d;
