@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400;1,500;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #333;
    color: #eee;
}
/* -------------------------------------------------------------------------------------------------------- header*/ 
header{
    text-align: center;
    padding: 0px;
    background-color: #aaa;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
}
.header{
    text-align: center;
    background-color: darkviolet;
    padding-bottom: 20px;
    padding-top: 20px;
}
.header-list{
    display: inline;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-top: 10px;
    border-radius: 150px;
    margin-left: 20px;
}
/* -------------------------------------------------------------------------------------------------------- header animations*/
a{
    text-decoration: none;
}
.header-list:hover{
    background-color:#eee;
}
a:hover{
    background-color:#eee;
    color: #333;
}
/* -------------------------------------------------------------------------------------------------------- main body*/
h2{
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 5px;
    color: #fff;
    border-bottom: darkviolet inset 3px;
    margin-bottom: 15px;
}
p{
    padding-left: 20px;
}
li{
    padding-left: 20px;
}
img{
    margin-left: 450px;
}
/* -------------------------------------------------------------------------------------------------------- form*/
.form{
    display: block;
    padding: 5px;
    margin-left: 50px;
    margin-bottom: 20px; 
    border: darkviolet outset 2px;
}
.form:focus{
    padding-left: 20px;
    background-color: #eee;
    color: #333;
    margin-left: 75px;
}
.form:hover{
    padding-left: 20px;
    background-color: #eee;
    color: #333;
    margin-left: 75px;
}
.sign{
    margin-left: 250px;
    background-color: darkviolet;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #eee;
    margin-bottom: 50px;
}
.sign:hover{
    background-color: #eee;
    color: #333;
    border: darkviolet solid 1px;
}
footer{
    border-bottom: 2px dashed #eee;
}
/* -------------------------------------------------------------------------------------------------------- list*/

/* .list li:nth-child(2n){
    background-color: rgb(73, 1, 104);
} 
.list li:nth-child(2n+1){
    background-color: rgb(73, 1, 104);
}  */
h3:nth-child(1){
    background-color: rgb(179, 0, 255);
}